@font-face {
    font-family: 'robotobold';
    src: url('../assets/fonts/Roboto-Bold.ttf');
}

 @font-face {
    font-family: 'roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

#signupform {
    display: flex;
    flex-direction: column-reverse;
    width: 360px;
    padding: 0;
    margin: auto;
}

#textform {
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 0%;
    line-height: 1.5;

    h1 {
        font-family: 'robotobold';
        font-size: 38px;
        line-height: 0;
    }

    form label {
        font-family: 'robotobold';
        font-size: 12px;
    }

    p {
        display: flex;
        flex-direction: row;
        font-family: 'roboto';
        font-size: 16px;
        flex-wrap: wrap;

        .checkbullet {
            margin-right: 16px;
            align-self: baseline;
            width: 20px;
        }
    }
}

.button {
    font-family: 'robotobold';
    font-size: 16px;
    color: white;
    background-color: hsl(234, 29%, 20%);
    border-style: none;
    border-radius: 10%;
    padding: 5%;
    margin: 0%;
    width: 100%;

    &:hover {background-color: hsl(235, 18%, 26%);}
}

#successmsg {
    display: none;
}